#create a virtual environment in conda command prompt
conda create --name [a name] python=3.7
pip install cmake
pip install numpy
pip install opencv-contrib-python==4.1.2.30
pip install tensorflow==2.1.0
